* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Honk;
}

body {
    background-color: rgb(128, 128, 128);
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 36px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form button {
    background-color: rgb(7, 168, 7);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    
}
